### STRINGS

In [1]:
#String literals are surrounded by either single quotwe or double quote or triple quotes

In [8]:
s='hello '
s1="World "
s2='''How are you?'''

In [9]:
z=s+s1+s2
z

'hello World How are you?'

###### Indexing

In [12]:
print(z[1]) #prints the character on the position 1 index starts from 0

e

###### Substring

In [13]:
print(z[2:5])

llo

###### strip()
Removes whitespaces from the beginning or the end

In [15]:
a="   Hello   "
print(a)
print(a.strip())

   Hello
Hello

###### len()
Returns the length of a string

In [16]:
print(len(a))

11

In [18]:
print(a*2) #Prints a string 2 times

   Hello      Hello

###### MULTIPLE ASSIGNMENT

In [19]:
a=b=c=1
c

1

In [27]:
a,b,c=1,4.5,"Hi"
print(a,b,c)

1 4.5 Hi

In [21]:
b

4.5

### Input function
Used to take keyboard inputs from user

In [25]:
name=input("Enter your name ")#takes string as defalut value
print("Hi"+name)

Enter your name Pravleen
HiPravleen

In [26]:
#If we want to take int or float value we have to type cast
num=int(input("Enter your birth day"))
print("You were born on "+str(num))

Enter your birth day15
You were born on 15

##### PYTHON OPERATORS

In [29]:
x=6
y=4.1
print(x+y) #addition
print(x-y)  #subtraction
print(x*y)  #multiplication
print(x/y)  #division
print(x//y) #Floor division
print(x%y)  #modulus
print(x**y) #exponential

10.1
1.9000000000000004
24.599999999999998
1.4634146341463417
1.0
1.9000000000000004
1550.315633711304

In [34]:
x&=3
print(x)
x|=3
print(x)
x^=3
print(x)

3
3
0
0

In [35]:
#left and right shift operator << and >> acts as multiplication and division by 2 respectively

In [36]:
x=10

print(x<<1)
print(x>>1)

20
5

##### LOGICAL OPERATORS

In [41]:
#AND OPERATOR return true if both the statements are true
x=10
print(x>1 and x<15)

True

In [42]:
#OR OPERATOR return true if any one of the condition is true
x=20
print(x>1 or x<15)

True

In [43]:
#NOT OPERATOR returns complement of the condition
x=20
print(not(x>1 or x<15))

False

#### IDENTITY OPERATORS

In [44]:
x=["apple","banana"]
y=["apple","banana"]
z=x

In [45]:
#is returns true if both the variables are the same element
print(x is y)
print(x is z)
#is not returns true if both the variables are the not same element
print(x is y)
print(x is z)

False
True
False
True

#### MEMEBERSHIP OPERATORS

In [46]:
#in operator returns true if that element is a member of that object
print("banana"in x)
print("grapes"in x)
#not in operator returns true if that element is not a member of that object
print("banana"in x)
print("grapes"in x)

True
False
True
False

#### function id()
returns the address of variable in memory

In [50]:
a=10
b=a
print("Id of a is",id(a))
print("Id of b is",id(b))
b=a+1
print("Id of b is",id(b))

Id of a is 140705913873072
Id of b is 140705913873072
Id of b is 140705913873104