## TUPLE

In [3]:
tpl=(10,20,50)
type(tpl)

tuple

In [4]:
tpl[1:]

(20, 50)

In [6]:
tpl*2

(10, 20, 50, 10, 20, 50)

## DICTIONARY

In [7]:
dict={1:"Virat",2:"Sachin",3:"Dhoni"}

In [8]:
dict

{1: 'Virat', 2: 'Sachin', 3: 'Dhoni'}

In [9]:
dict.items()

dict_items([(1, 'Virat'), (2, 'Sachin'), (3, 'Dhoni')])

In [10]:
dict.keys()

dict_keys([1, 2, 3])

In [12]:
dict.values()

dict_values(['Virat', 'Sachin', 'Dhoni'])

In [13]:
dict[1]

'Virat'

In [15]:
dict[4]="Hardik"

In [16]:
dict

{1: 'Virat', 2: 'Sachin', 3: 'Dhoni', 4: 'Hardik'}

In [18]:
print("Name is {}, age is {}".format("Pravleen",20))

Name is Pravleen, age is 20

## SETS

In [19]:
set={"apple","banana","Cat","apple"}
set

{'Cat', 'apple', 'banana'}

In [20]:
set.add("Dog")

In [21]:
set

{'Cat', 'Dog', 'apple', 'banana'}

In [23]:
set.remove("banana")

In [24]:
set

{'Cat', 'Dog', 'apple'}

In [25]:
set.pop()

'Dog'

In [26]:
set

{'Cat', 'apple'}

In [27]:
print(len(set))

2

In [28]:
set2={"apple","Cat","banana","orange"}

In [29]:
set.union(set2)

{'Cat', 'apple', 'banana', 'orange'}

In [31]:
print(set.difference(set2))

set()

In [32]:
print(set.intersection(set2))

{'apple', 'Cat'}